*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat', sans-serif;
    background-image: url(./ppp.jpg);
    background-size: cover;
    background-position: top center;

}